In [1]:
import pandas as pd

In [5]:
df_1 = pd.read_csv('books.csv')
df_2 = pd.read_csv('data.csv')

In [7]:
df_1.head()

,link,title,img_link,rating,price,stock
0,a-light-in-the-attic_1000/index.html,A Light in the Attic,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...,Three,51.77,In stock
1,tipping-the-velvet_999/index.html,Tipping the Velvet,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...,One,53.74,In stock
2,soumission_998/index.html,Soumission,../media/cache/3e/ef/3eef99c9d9adef34639f51066...,One,50.10,In stock
3,sharp-objects_997/index.html,Sharp Objects,../media/cache/32/51/3251cf3a3412f53f339e42cac...,Four,47.82,In stock
4,sapiens-a-brief-history-of-humankind_996/index...,Sapiens: A Brief History of Humankind,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...,Five,54.23,In stock

In [9]:
df_2.head()

,category,price_e_tax,price_i_tax,tax,quantity,upc,reviews
0,Poetry,51.77,51.77,0.0,In stock (22 available),a897fe39b1053632,0
1,Historical Fiction,53.74,53.74,0.0,In stock (20 available),90fa61229261140a,0
2,Fiction,50.10,50.10,0.0,In stock (20 available),6957f44c3847a760,0
3,Mystery,47.82,47.82,0.0,In stock (20 available),e00eb4fd7b871a48,0
4,History,54.23,54.23,0.0,In stock (20 available),4165285e1663650f,0

In [11]:
df=pd.DataFrame()

In [17]:
df['title']         = df_1['title']
df['upc']           = df_2['upc']
df['category']      = df_2['category']
df['price_e_tax']   = df_2['price_e_tax']
df['price_i_tax']   = df_2['price_i_tax']
df['tax']           = df_2['tax']
df['rating']        = df_1['rating']
df['reviews']       = df_2['reviews']
df['quantity']      = df_2['quantity']
df['stock']         = df_1['stock']
df['link']          = df_1['link']
df['img_link']      = df_1['img_link']

In [19]:
df

,title,upc,category,price_e_tax,price_i_tax,tax,rating,reviews,quantity,stock,link,img_link
0,A Light in the Attic,a897fe39b1053632,Poetry,51.77,51.77,0.0,Three,0,In stock (22 available),In stock,a-light-in-the-attic_1000/index.html,../media/cache/2c/da/2cdad67c44b002e7ead0cc356...
1,Tipping the Velvet,90fa61229261140a,Historical Fiction,53.74,53.74,0.0,One,0,In stock (20 available),In stock,tipping-the-velvet_999/index.html,../media/cache/26/0c/260c6ae16bce31c8f8c95dadd...
2,Soumission,6957f44c3847a760,Fiction,50.10,50.10,0.0,One,0,In stock (20 available),In stock,soumission_998/index.html,../media/cache/3e/ef/3eef99c9d9adef34639f51066...
3,Sharp Objects,e00eb4fd7b871a48,Mystery,47.82,47.82,0.0,Four,0,In stock (20 available),In stock,sharp-objects_997/index.html,../media/cache/32/51/3251cf3a3412f53f339e42cac...
4,Sapiens: A Brief History of Humankind,4165285e1663650f,History,54.23,54.23,0.0,Five,0,In stock (20 available),In stock,sapiens-a-brief-history-of-humankind_996/index...,../media/cache/be/a5/bea5697f2534a2f86a3ef27b5...
...,...,...,...,...,...,...,...,...,...,...,...,...
995,Our Band Could Be Your Life: Scenes from the A...,cd2a2a70dd5d176d,Classics,55.53,55.53,0.0,Three,0,In stock (1 available),In stock,our-band-could-be-your-life-scenes-from-the-am...,../media/cache/54/60/54607fe8945897cdcced00441...
996,Olio,bfd5e1701c862ac3,Sequential Art,57.06,57.06,0.0,One,0,In stock (1 available),In stock,olio_984/index.html,../media/cache/55/33/553310a7162dfbc2c6d19a84d...
997,Mesaerion: The Best Science Fiction Stories 18...,19fec36a1dfb4c16,Historical Fiction,16.97,16.97,0.0,One,0,In stock (1 available),In stock,mesaerion-the-best-science-fiction-stories-180...,../media/cache/09/a3/09a3aef48557576e1a85ba7ef...
998,Libertarianism for Beginners,f684a82adc49f011,Mystery,53.98,53.98,0.0,Two,0,In stock (1 available),In stock,libertarianism-for-beginners_982/index.html,../media/cache/0b/bc/0bbcd0a6f4bcd81ccb1049a52...
999,It's Only the Himalayas,228ba5e7577e1d49,Travel,26.08,26.08,0.0,Two,0,In stock (1 available),In stock,its-only-the-himalayas_981/index.html,../media/cache/27/a5/27a53d0bb95bdd88288eaf66c...

In [21]:
df.isnull().sum()

title          0
upc            0
category       0
price_e_tax    0
price_i_tax    0
tax            0
rating         0
reviews        0
quantity       0
stock          0
link           0
img_link       0
dtype: int64

In [23]:
df.to_csv('final.csv',index=False)